<html>
        <head>
                <title>Sample Movie Application</title>
        </head>
        <body>
                <h1>Sample Movie Application</h1>
                <p>Work In Progress</p>
                <p><a href="list.cfm">Listing of data</a></p>
                <p><a href="IngestMoviesToDatabase.cfm">Ingest Movies to Database</a></p>
        </body>
</html>